
/*--------------------------
----------------------------
Colors
----------------------------
---------------------------- */

$black: #000000;
$dark: #181818;
$light: #f9f3ed;
$white: #ffffff;

$cream: #f9f3ed;
$peach: #ab6b49;
$mocha: #423b35;
/*--------------------------
----------------------------
Fonts
----------------------------
---------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/*--------------------------
----------------------------
Layout / Containers
----------------------------
---------------------------- */

$container-max-widths: (
  sm: 23.4375rem,
  md: 40rem,
  xxl: 86.6rem,
);

$grid-gutter-width: 0.0625rem;
/*--------------------------
----------------------------
Spacers
----------------------------
---------------------------- */

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.625,
  2: $spacer * 1.125,
  3: $spacer * 1.19,
  4: $spacer * 1.25,
  5: $spacer * 1.38,
  6: $spacer * 1.5,
  7: $spacer * 1.5625,
  8: $spacer * 1.62,
  9: $spacer * 1.75,
  10: $spacer * 1.8125,
  11: $spacer * 2.0625,
  12: $spacer * 2.3125,
  13: $spacer * 2.375,
  14: $spacer * 2.69,
  15: $spacer * 3.5,
  16: $spacer * 3.75,
  17: $spacer * 4.25,
  18: $spacer * 4.875,
  19: $spacer * 5.19,
  20: $spacer * 5.4375,
  21: $spacer * 6,
  22: $spacer * 6.25,
  23: $spacer * 6.5,
  24: $spacer * 7,
  25: $spacer * 7.38,
  26: $spacer * 8.875,
  27: $spacer * 9.56,
  28: $spacer * 10.6875,
  29: $spacer * 13.47,
  30: $spacer * 17.125,
);
